/* Navbar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #ddcfba;
}
.navbar {
  background-color:#ce8b6e;
  color: #ff1493;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}
.navbar-logo a {
  color: #f6e3b5;
  text-decoration: none;
  font-size: 24px;
}

.navbar-menu {
  display: flex;
  list-style: none;
}

.navbar-item {
  margin-left: 20px;
}

.navbar-link {
  color: #f6e3b5;
  text-decoration: none;
  font-size: 20px;
}

.navbar-link:hover {
  color: #e85e71;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 25px;
  background-color: #fff;
  margin: 4px 0;
}

@media (max-width: 768px) {
  .navbar-menu {
      display: none;
      flex-direction: column;
      width: 100%;
  }

  .navbar-item {
      margin: 0;
      text-align: center;
      padding: 10px 0;
      width: 100%;
  }

  .navbar-menu.mobile {
      display: flex;
  }

  .menu-toggle {
      display: flex;
  }
}
/* Navbar end */

/* hero section */
 .hero-Container {
  position: relative;
  text-align: center;
  color: white;
}
#hero-img{
  width: 100%;
  height: 700px;
}
.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-h1{
font-size: 50px;
  text-shadow:
       0 0 20px #ff69b4, 
     0 0 30px #ff1493, 
     0 0 40px #bca57f, 
      0 0 50px #8686f0;
}
.hero-p{
  font-size: 30px;
  margin-top: 20px;
  color: #e85e71;
}
.hero-p:hover{
  color:#bca57f;
}
#p-shop{
  font-size: 10px;
}
.shop-now{
  font-size: 20px;
  color: #fff;
  width: 150px;
  height: 50px;
  border-radius: 30px;
  border: 2px solid #8686f0;
  margin-top: 20px;
  background-color: #bca57f;
  animation-name: blink;
  animation-duration: 0.25s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}
@keyframes blink{
 from{
     background-color:#bca57f;
}to{
 background-color:#e85e71;
}
}

@media (max-width: 768px) {
         .hero-h1{ 
          font-size: 20px; } 
        .hero-p { font-size: 10px; } 
        .shop-now { width: 90px; height: 40px;}
        span{
          font-size: 15px;
        }
        #p-shop{
          font-size: 10px;
        }
        #hero-img{
          width: 100%;
          height: 70%;
        }
      }
       
/* hero section end*/

     /*footer start  */
     
#footer {
  background-color: #ce8b6e; 
  color: #f6e3b5;
  padding: 20px;
}

.footer-container {
  max-width: 100%;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 80px;
}


#footer-border{
  border-right:#e85e71 5px dashed;
}
.footer-icon-a{
  text-decoration: none;
  color: #e85e71;
  margin-top: 5px;
}
.footer-icon-a:hover{
  color: #f8455d;
}
#footer-p{
  font-size: 16px;
 margin-top: 10px;
 margin-left: 20px;
 color: #e3dddd;
}
.footer-p:hover{
  color: #e85e71;
}

.footer-h4{
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 10px;
}
.footer-h4:hover{
  color: #f8455d;
}
.footer-ul li{
text-decoration: none;
}
.footer-a{
  color: #fff; 
}
.footer-a:hover{
  color: #f8455d;
 }
.footer-a2{
  text-decoration: none;
   color: #fff;
   margin-bottom: 10px; 
 }
  .footer-a2:hover{
    color: #f8455d;
 }
#footer-c{
  margin-top: 50px;
  margin-left: 20px;
}

.f-p{
  margin-bottom: 10px;
  line-height: 22px;
 
}

#footer-icon ul{
  display: flex;
  list-style: none;
  align-items: center; 
}

#footer-r li{
 
  background-color: #f5d2d2;
  width: 25px;
  height: 25px;
  border-radius: 50%;
 display: flex;
 align-items: center;
  justify-content: center;   
}
#footer-icon ul li {
  margin-right: 20px;
  margin-top: 10px;
  font-size: 20px;
}
@media (max-width: 768px) {
  .footer-container {
      margin: 10px auto;
      grid-template-columns: repeat(1,1fr);
      gap: 10px;
  }
  #footer-p{
    font-size: 20px;
   margin-top: 0px;
   margin-left: 0px;
  
  }
  .f-p{
      margin-left: 30px;
  }
  .footer-h4{
  margin-left: 20px;
  }
  .footer-icon-text{
      margin-left: 10px;
  }
   #footer-r li{
      margin-left: 20px;

     
  }
  #footer-r li{
      width: 25px;
      height: 25px;
  }
  #footer-icon ul li i {
      font-size: 15px;
  }
}

/* contact */
.sub-con{
 margin: 50px auto;
  width: 400px;
  margin: 80px auto;

}
.contact-h2{
  font-size: 40px;
  text-align: center;
  margin: 40px 0px ;
  color: #fff;
  text-shadow:
  0 0 20px #ce8b6e, 
  0 0 30px #e85e71, 
  0 0 40px #bca57f, 
   0 0 50px  #9f804f;
}
.contact-a2{
  text-decoration: none;
  color: #a55a3a;
   margin-bottom: 10px; 
 }
  .contact-a2:hover{
    color: #f8455d;
 } 
 .contact-p{
  width: 400px;
 /* margin-top: 3px; */
  font-size: 20px;
  position: absolute;
  color: #ce8b6e;
  text-align: center;
  line-height: 20px;
}
 @media (max-width: 768px) {
 
  .contact-h2{
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
  }
 */
  .contact-p{
   margin-bottom: 50px;
   
  }
 }
 /* product */
 .product-h2{
  font-size: 40px;
  text-align: center;
  margin: 0px 0px ;
  color: #fff;
  text-shadow:
  0 0 20px #ce8b6e, 
  0 0 30px #e85e71, 
  0 0 40px #bca57f, 
   0 0 50px  #9f804f;
}
 .productPage{
margin: 50px auto;

 }
.pro-main{
 
  max-width: 100%;
  margin: 0px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
}
.card-pro {
  margin: 10px auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
}
.card-pro:hover {
  box-shadow: 0 20px 20px 0 rgba(0,0,0,0.2);
}
.pro-text {
  margin: 10px 0;
  padding: 5px 16px;
}
#pro-img{
  width: 250px;
  height: 200px;
  border-radius: 20px 20px 0 0;
  padding: 10px;
}
#pro-img:hover{
  transition: 0.3s;
  transform: scale(90%);
}
@media (max-width: 768px) {
  .productPage{
    margin: 200px auto;
  }
  .pro-main{
    margin: 0px auto;
    padding: 20px;
    grid-template-columns: repeat(1, 1fr);
    
  }
  .product-h2{
    font-size: 30px;
    margin: 0px 0px ;
   
  }
  .card-pro {
   margin-top: 10px;
  }
 
}

/* product end  */
/* about */
.about-main{
  margin-bottom: 80px;
  max-width: 100%;
  max-height: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 30px;
}
#about-pic{
  max-width: 400px;
  max-height: 400px;

 
}
#about-pic:hover{
  opacity: 0.5;
  transform: scale(90%);
  transition: all 9s linear ease-in-out;
}
.sub-about{
  max-width: 100%;
  position: relative;
}
.about-p{
  position: absolute;
  margin: 20px 50px;
  z-index: 1;
  color: #ce8b6e;
  text-align: justify;
  line-height: 20px;
}

/*  */
.animation-about {
  margin-top: 120px;
  margin-left: 80px;
width: 200px;
height: 200px;
opacity: 0.6;
background-color: coral;
-webkit-animation: squareToCircle 2s 1s infinite alternate;
}

@-webkit-keyframes squareToCircle {
0% {
border-radius: 0 0 0 0;
background: coral;
transform: rotate(0deg);
}
25% {
border-radius: 50% 0 0 0;
background: darksalmon;
transform: rotate(45deg);
}
50% {
border-radius: 50% 50% 0 0;
background: indianred;
transform: rotate(90deg);
}
75% {
border-radius: 50% 50% 50% 0;
background: lightcoral;
transform: rotate(135deg);
}
100% {
border-radius: 50% 50% 50% 50%;
background: darksalmon;
transform: rotate(180deg);
}
}
/*  */
@media (max-width: 768px){
  .about-main{
    margin-bottom: 50px;
    grid-template-columns: repeat(1, 1fr); 
    gap: 80px;
  }
  #about-pic{
 margin-top: 50px;
 margin-left: 50px;
    max-width: 300px;
    max-height: 300px;
  }
}
/* animation contact */
.animation-contact {
  margin-top: -90px;
  margin-left: 400px;
width: 200px;
height: 200px;
opacity: 0.6;
background-color: coral;
-webkit-animation: squareToCircle 2s 1s infinite alternate;
}

@-webkit-keyframes squareToCircle {
0% {
border-radius: 0 0 0 0;
background: coral;
transform: rotate(0deg);
}
25% {
border-radius: 50% 0 0 0;
background: darksalmon;
transform: rotate(45deg);
}
50% {
border-radius: 50% 50% 0 0;
background: indianred;
transform: rotate(90deg);
}
75% {
border-radius: 50% 50% 50% 0;
background: lightcoral;
transform: rotate(135deg);
}
100% {
border-radius: 50% 50% 50% 50%;
background: darksalmon;
transform: rotate(180deg);
}
}