/* Navbar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ddcfba;
}

.navbar {
  background-color:#ce8b6e;
  color: #ff1493;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
 
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

.navbar-logo a {
  color: #f6e3b5;
  text-decoration: none;
  font-size: 24px;
}

.navbar-menu {
  display: flex;
  list-style: none;
}

.navbar-item {
  margin-left: 20px;
}

.navbar-link {
  color: #f6e3b5;
  text-decoration: none;
  font-size: 20px;
}

.navbar-link:hover {
  color: #e85e71;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 25px;
  background-color: #fff;
  margin: 4px 0;
}

@media (max-width: 768px) {
  .navbar-menu {
      display: none;
      flex-direction: column;
      width: 100%;
  }

  .navbar-item {
      margin: 0;
      text-align: center;
      padding: 10px 0;
      width: 100%;
  }

  .navbar-menu.mobile {
      display: flex;
  }

  .menu-toggle {
      display: flex;
  }
}
/* Navbar end */
/* hero section */
 .hero-Container {
  position: relative;
  text-align: center;
  color: white;
}
#hero-img{
  width: 100%;
}
.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-h1{
font-size: 50px;
  text-shadow:
       0 0 20px #ff69b4, 
     0 0 30px #ff1493, 
     0 0 40px #bca57f, 
      0 0 50px #8686f0;
}
.hero-p{
  font-size: 30px;
  margin-top: 20px;
  color: #e85e71;
}
.hero-p:hover{
  color:#bca57f;
}
.shop-now{
  font-size: 20px;
  color: #fff;
  width: 150px;
  height: 50px;
  border-radius: 30px;
  border: 2px solid #8686f0;
  margin-top: 20px;
  background-color: #bca57f;
  animation-name: blink;
  animation-duration: 0.25s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}
@keyframes blink{
 from{
     background-color:#bca57f;
}to{
 background-color:#e85e71;
}
}
/* #p-shop{
  font-size: 50px;
  
} */
@media (max-width: 768px) {
         .hero-h1{ 
          font-size: 20px; } 
        .hero-p { font-size: 10px; } 
        .shop-now { width: 80px; height: 20px; } }
        #p-shop{
          font-size: 10px;
          
        }
/* hero section end*/
     /*footer start  */
     
#footer {
  background-color: #ce8b6e; 
  color: #f6e3b5;
  padding: 20px;
}

.sec12-container {
  max-width: 100%;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 80px;
}


#sec12-border{
  border-right:#e85e71 5px dashed;
}
/* .header-a */
.footer-icon-a{
  text-decoration: none;
  color: #e85e71;
  margin-top: 5px;
}
.footer-icon-a:hover{
  color: #f8455d;
}
#footer-p{
  font-size: 16px;
 margin-top: 10px;
 margin-left: 20px;
 color: #e3dddd;
}
.footer-p:hover{
  color: #e85e71;
}

.sec12-h4{
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 10px;
}
.sec12-h4:hover{
  color: #f8455d;
}
.footer-ul li{
text-decoration: none;
}
.footer-a{
  color: #fff; 
}
.footer-a:hover{
  color: #f8455d;
 }
.footer-a2{
  text-decoration: none;
   color: #fff;
   margin-bottom: 10px; 
 }
  .footer-a2:hover{
    color: #f8455d;
 }
#footer-c{
  margin-top: 50px;
  margin-left: 20px;
}

.f-p{
  margin-bottom: 10px;
  line-height: 22px;
 
}

#footer-icon ul{
  display: flex;
  list-style: none;
  align-items: center; 
}

/* header-left */
#footer-r li{
 
  background-color: #f5d2d2;
  width: 25px;
  height: 25px;
  border-radius: 50%;
 display: flex;
 align-items: center;
  justify-content: center;   
}
#footer-icon ul li {
  margin-right: 20px;
  margin-top: 10px;
  font-size: 20px;
}




@media (max-width: 768px) {
  .sec12-container {
    
      margin: 5px auto;
      grid-template-columns: repeat(1,1fr);
      gap: 10px;
  }
  #footer-p{
    font-size: 20px;
   margin-top: 0px;
   margin-left: 0px;
  
  }
  .f-p{
      margin-left: 30px;
  }
  .sec12-h4{
  margin-left: 20px;
  }
  .sec12-icon-text{
      margin-left: 10px;
  }
   #footer-r li{
      margin-left: 20px;

     
  }
  #footer-r li{
      width: 25px;
      height: 25px;
  }
  #footer-icon ul li i {
      font-size: 15px;
  }
}
/* contact */
.con-container{
  width: 100%;
  margin: 10px auto;
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  gap: 10px;
 
}
#footer-img{
  width: 450px;
  height: 300px;
}
.contact-h2{
  font-size: 40px;
  text-align: center;
  margin: 60px 0px ;
  color: #fff;
  text-shadow:
  0 0 20px #ce8b6e, 
  0 0 30px #e85e71, 
  0 0 40px #bca57f, 
   0 0 50px  #9f804f;
}
.con-left{
 text-align: center;
  margin: 50px 30px;
  /* position: relative; */
}
 #contact-p{
  font-size: 20px;
 margin: 0 40px;
  color: #ce8b6e;
  text-align: justify;
  line-height: 20px;
  position: relative;
 }

  .con-con{
    margin-top: 20px;
    /* position: absolute; */
  }

.contact-a2{
  text-decoration: none;
  color: #ce8b6e;
   margin-bottom: 10px; 
 }
  .contact-a2:hover{
    color: #f8455d;
 }
 
 @media (max-width: 768px) {
  .con-container{
    margin: 10px auto;
   grid-template-columns:repeat(1, 1fr);
    gap: 5px;
  }
  #footer-img{
    width: 250px;
    height: 250px;
   margin-bottom: 10px;
    margin-left: 60px;
  }
  .contact-h2{
    
    margin: 20px 0 ;
  }
  .con-left{
     margin: 10px 20px;
    
   }
    
 }
 /* product */
.product-main{
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
}
/* .product-sub-con{
 
} */

#product-h3 {
  font-weight: 400;
  /* margin: 0 20px; */
  margin: 2rem 0 0.25rem 20px;
}

#product-h4 {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  opacity: 0.5;
  margin: 0;
}

#product-p {
  margin: 0 20px;
}
.product-figure {
  width: 400px;
  aspect-ratio: 8 / 5;
  --bg: hsl(330 80% calc(90% - (var(--hover) * 10%)));
  --accent: hsla(48, 72%, 79%, 0.935);
  transition: background 0.2s;
  background:
    radial-gradient(circle at top left, var(--accent), transparent 75%),
    var(--bg);
  margin: 0;
  position: relative;
  overflow: hidden;
  border-radius: 1.5rem;
}

.product-f:after {
  content: "";
  position: absolute;
  width: 20%;
  aspect-ratio: 1;
  border-radius: 50%;
  bottom: 0%;
  left: 10%;
  background: linear-gradient(-65deg, var(--bg) 50%, var(--accent) 50%);
  filter: blur(25px);
  transform:
    translateX(calc(var(--hover) * 15%))
    scale(calc(1 + (var(--hover) * 0.2)));
  transition: transform 0.2s, background 0.2s;
}

#product-img {
  position: absolute;
  left: 25%;
  top: 20%;
  width: 40%;
  transform:
    translateX(calc(var(--hover) * -15%))
    scale(calc(1 + (var(--hover) * 0.2)));
  transition: transform 0.2s;
}

#product-article {
  margin-left: 20px;
  margin-top: 20px;
  --hover: 0;
}

#product-article:hover {
  --hover: 1;
}
/* about */
.about-main{
  margin-bottom: 50px;
  max-width: 100%;
  max-height: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 30px;
}
#about-pic{
  max-width: 400px;
  max-height: 400px;
 
}
#about-pic:hover{
  opacity: 0.5;
  transform: scale(90%);
  transition: all 9s linear ease-in-out;
}
.sub-about{
  max-width: 100%;
  position: relative;
}
.about-p{
  position: absolute;
  margin: 20px 50px;
  z-index: 1;
  color: #ce8b6e;
  text-align: justify;
  line-height: 20px;
}

/*  */
.animation-about {
  margin-top: 120px;
  margin-left: 80px;
width: 200px;
height: 200px;
opacity: 0.6;
background-color: coral;
-webkit-animation: squareToCircle 2s 1s infinite alternate;
}

@-webkit-keyframes squareToCircle {
0% {
border-radius: 0 0 0 0;
background: coral;
transform: rotate(0deg);
}
25% {
border-radius: 50% 0 0 0;
background: darksalmon;
transform: rotate(45deg);
}
50% {
border-radius: 50% 50% 0 0;
background: indianred;
transform: rotate(90deg);
}
75% {
border-radius: 50% 50% 50% 0;
background: lightcoral;
transform: rotate(135deg);
}
100% {
border-radius: 50% 50% 50% 50%;
background: darksalmon;
transform: rotate(180deg);
}
}
/* animation contact */
.animation-contact {
  margin-top: -90px;
  margin-left: 400px;
width: 200px;
height: 200px;
opacity: 0.6;
background-color: coral;
-webkit-animation: squareToCircle 2s 1s infinite alternate;
}

@-webkit-keyframes squareToCircle {
0% {
border-radius: 0 0 0 0;
background: coral;
transform: rotate(0deg);
}
25% {
border-radius: 50% 0 0 0;
background: darksalmon;
transform: rotate(45deg);
}
50% {
border-radius: 50% 50% 0 0;
background: indianred;
transform: rotate(90deg);
}
75% {
border-radius: 50% 50% 50% 0;
background: lightcoral;
transform: rotate(135deg);
}
100% {
border-radius: 50% 50% 50% 50%;
background: darksalmon;
transform: rotate(180deg);
}
}